/* Reset styles */
*, *::after, *::before {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

body, html {
    overflow-x: hidden;
}


img, picture, svg {
    display: block;
    max-inline-size: 100%;
}

a {
    text-decoration: none;
}
/* 0d3b66 */
/* Variables */
:root {
    --yale-blue: #12508a;
    --yale-blue-07-opacity: #12508ab3;
    --lemon-chiffon: #FAF0CA;
    --naples-yellow: #F4D35E;
    --sandy-brown: #EE964B;
    --tomato: #F95738;
}

/* App styles */
body {
    background-color: var(--yale-blue-07-opacity);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
}

.source-wrapper {
    display: grid;
    gap: 10px;
}

.target-wrapper {
    display: grid;
    row-gap: 2rem;
}

.controls {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5625rem;
}

.controls {
    padding-inline: 5px;
    color: #fff;
}

.controls--wrapper {
    padding: 1.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

input {
    inline-size: 100%;
    border-radius: 10px;
    padding: 0.625rem;
    --webkit-appearance: none;
    --moz-appearance: none;
}

output {
    display: grid;
    place-items: center;
    min-block-size: 3.2rem;
    border-radius: 0.625rem;
    border: 1px dashed #fff;
    inline-size: 100%;
    padding-inline: 0.625rem;
    padding-block: 0.6875rem;    
}

label {
    display: inline-block;
    margin-block-end: 0.75rem;
}

/* @media screen and (min-width: 45em) {
    .controls {
        grid-auto-flow: column;
    }
} */